<br />
<br />
<div class ="container">

    <br />
    <img  src ="~/images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>

        <p>
            Se você tiver alguma dúvida  ou sugestão,fale conosco
        </p>
        <p>
            <span class="glyphicon glyphicon-evenlope"></span>

            <email endereco="di_camil@yahoo.com" conteudo="Enviar um email"></email>
            <br />
            <span class="glyphicon  glyphicon-phone"></span>
            (11)1111-1111
            <br />
            <span class="glyphicon  glyphicon-home"></span>
            Rua João Aparecido Selmer,San Marino-Caieiras
        </p>
    </div>
</div>